*{
  margin: 0;
  padding: 0;
}

@mixin Div-styling($font-color, $font-size, $div-width) {
  color: $font-color;
  font-size: $font-size;
  width: $div-width;
}
@font-face {
  font-family: "OutfitRegular";
  src: url(/font/OutfitRegular.ttf);
}
@font-face {
  font-family: "OutfitBold";
  src: url(/font/OutfitExtraBold.ttf);
}

@font-face {
  font-family: "SplineSans";
  src: url(/font/SplineSans-Regular.ttf);
}

@mixin faq-container{
  display: flex;
  width: 100%;
  height: auto;
  padding: 15px;
  // border: 1px solid black;
  justify-content: center;
}

@mixin faq-blue-box{
  background-color: #3b82f6;
  width: 60%;
  height: 100%;
  max-width: 900px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin faq-image{
  // background-color: yellow;
  width: 30%;
  height: 100%;
  // padding: 20px;
}

.faq-container{
  @include faq-container();
  .faq-blue-box{
    @include faq-blue-box();
    .faq-heading{
      width: 85%;
      // padding: 10px;
      font-size: 30px;
      line-height: 36px;
      font-weight: 700;
      font-family: 'OutfitRegular';
      // background-color: pink;
    }
    .faq-answer{
      font-weight: 400;
      line-height: 26px;
      width: 85%;
      color: white;
      font-size: 16px;
      // padding: 20px;
      padding: 25px;
      font-family: 'SplineSans';
    }
  }
  .faq-image{
    @include faq-image();
  }
}

@media (max-width: 800px){
  .faq-image{
    display: none;
  }
}

@media (max-width: 650px){
  .faq-answer{
    font-size: 8px;
    font-weight: 200;
  }
}